<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    
    <div class="wrapper">
      <div class="signupBox">
        <div class="imageWrapper">
          <img src="/images/mdi_university.svg" alt="" class="logo" />
        </div>
        <div>
          <h3>Find Start-up Jobs easily</h3>
          <p>
            If you click "Create Profile" you accept the
            <a href="/agb.html">AGB</a>
          </p>
          <form
            onsubmit="return validateForm()"
            action="/users/api/signup"
            method="post"
            id="Signup"
            class="formBlock"
            >
            <div id="error-message-email" style="color: red; padding: 0px;"></div>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
            />
            
            <div id="error-message-password" style="color: red; padding: 0px;"></div>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />

            <button type="submit">Create Profile</button>
          </form>
          <a href="/users/login">You already got an account?</a>
        </div>
      </div>
    </div>
    <script>
      function validateForm() {

        //Get Email and Password Values
        const email = document.getElementById('email');
        const errorMessageEmail = document.getElementById('error-message-email');
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const emailValue = email.value.trim();

        const password = document.getElementById('password');
        const errorMessagePassword = document.getElementById('error-message-password');
        const PasswordValue = password.value.trim();

        errorMessageEmail.textContent = '';
        errorMessagePassword.textContent = '';
        
        //Validate them based on the rules
        if (emailValue === '') {
          errorMessageEmail.textContent = 'Email field must not be empty';
          return false; 
        }
        if (!emailPattern.test(emailValue)) {
          errorMessageEmail.textContent = 'Please enter a valid email address.';
          return false;
        }

        if (PasswordValue === '') {
          errorMessagePassword.textContent = 'Password field must not be empty';
          return false; 
        }

        if (PasswordValue.length < 8) {
          errorMessagePassword.textContent = 'Password must be at least 8 characters long';
          return false;
        }
  
        return true;
      }
    </script>
  </body>
</html>
